
body {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

nav {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: #fff;
}


main {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

main p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.image-container {
	text-align: center;
}

.image-container img {
	max-width: 100%;
	margin: 10px;
}

.test h3 {
	color: red;
}

#testid {
	color: blue;
}

h3 {
	color: green;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: #333;
	color: #fff;
}
